USE [PruebaCorta1]
GO
/****** Object:  Table [dbo].[Articulos]    Script Date: 25/11/2020 08:03:35:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](150) NOT NULL,
	[precioUnitario] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Articulos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 25/11/2020 08:03:35:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompraProveedor]    Script Date: 25/11/2020 08:03:35:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompraProveedor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Total] [decimal](18, 0) NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_CompraProveedor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCompraProveedor]    Script Date: 25/11/2020 08:03:35:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompraProveedor](
	[idCompra] [int] NOT NULL,
	[idArticulo] [int] NOT NULL,
	[Cantidad] [decimal](18, 2) NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleFactura]    Script Date: 25/11/2020 08:03:35:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleFactura](
	[idFactura] [int] NOT NULL,
	[idArticulo] [int] NOT NULL,
	[Cantidad] [decimal](18, 2) NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 25/11/2020 08:03:35:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Total] [money] NOT NULL,
	[Fecha] [date] NOT NULL,
 CONSTRAINT [PK_Factura] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventario]    Script Date: 25/11/2020 08:03:35:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventario](
	[idArticulo] [int] NOT NULL,
	[idProveedor] [int] NOT NULL,
	[Cantidad] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Inventario] PRIMARY KEY CLUSTERED 
(
	[idArticulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PagosCliente]    Script Date: 25/11/2020 08:03:35:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PagosCliente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Cantidad] [money] NOT NULL,
	[Fecha] [date] NOT NULL,
 CONSTRAINT [PK_PagosCliente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 25/11/2020 08:03:35:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Proveedor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistroPagos]    Script Date: 25/11/2020 08:03:35:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroPagos](
	[idPago] [int] NOT NULL,
	[idCliente] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 25/11/2020 08:03:35:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[idCliente] [int] NOT NULL,
	[idFactura] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Articulos] ON 

INSERT [dbo].[Articulos] ([id], [Descripcion], [precioUnitario]) VALUES (1, N'Articulo 1', CAST(150.00 AS Decimal(18, 2)))
INSERT [dbo].[Articulos] ([id], [Descripcion], [precioUnitario]) VALUES (2, N'Articulo 2', CAST(100.00 AS Decimal(18, 2)))
INSERT [dbo].[Articulos] ([id], [Descripcion], [precioUnitario]) VALUES (3, N'Articulo 3', CAST(95.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Articulos] OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([id], [nombre]) VALUES (1, N'Cliente 1')
INSERT [dbo].[Cliente] ([id], [nombre]) VALUES (2, N'Cliente 2')
INSERT [dbo].[Cliente] ([id], [nombre]) VALUES (3, N'Cliente 3')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[CompraProveedor] ON 

INSERT [dbo].[CompraProveedor] ([id], [Total], [Date]) VALUES (1, CAST(300 AS Decimal(18, 0)), CAST(N'2020-11-24' AS Date))
INSERT [dbo].[CompraProveedor] ([id], [Total], [Date]) VALUES (2, CAST(320 AS Decimal(18, 0)), CAST(N'2020-11-24' AS Date))
INSERT [dbo].[CompraProveedor] ([id], [Total], [Date]) VALUES (3, CAST(230 AS Decimal(18, 0)), CAST(N'2020-11-24' AS Date))
SET IDENTITY_INSERT [dbo].[CompraProveedor] OFF
GO
INSERT [dbo].[DetalleCompraProveedor] ([idCompra], [idArticulo], [Cantidad], [Monto]) VALUES (1, 2, CAST(3.00 AS Decimal(18, 2)), CAST(350.00 AS Decimal(18, 2)))
INSERT [dbo].[DetalleCompraProveedor] ([idCompra], [idArticulo], [Cantidad], [Monto]) VALUES (2, 1, CAST(4.00 AS Decimal(18, 2)), CAST(400.00 AS Decimal(18, 2)))
INSERT [dbo].[DetalleCompraProveedor] ([idCompra], [idArticulo], [Cantidad], [Monto]) VALUES (3, 4, CAST(44.00 AS Decimal(18, 2)), CAST(1240.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[DetalleFactura] ([idFactura], [idArticulo], [Cantidad], [Monto]) VALUES (1, 1, CAST(5.00 AS Decimal(18, 2)), CAST(600.00 AS Decimal(18, 2)))
INSERT [dbo].[DetalleFactura] ([idFactura], [idArticulo], [Cantidad], [Monto]) VALUES (2, 2, CAST(2.00 AS Decimal(18, 2)), CAST(450.00 AS Decimal(18, 2)))
INSERT [dbo].[DetalleFactura] ([idFactura], [idArticulo], [Cantidad], [Monto]) VALUES (3, 3, CAST(1.50 AS Decimal(18, 2)), CAST(685.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[Factura] ON 

INSERT [dbo].[Factura] ([id], [Total], [Fecha]) VALUES (1, 600.0000, CAST(N'2020-11-24' AS Date))
INSERT [dbo].[Factura] ([id], [Total], [Fecha]) VALUES (2, 300.0000, CAST(N'2020-11-24' AS Date))
INSERT [dbo].[Factura] ([id], [Total], [Fecha]) VALUES (3, 150.0000, CAST(N'2020-11-24' AS Date))
SET IDENTITY_INSERT [dbo].[Factura] OFF
GO
INSERT [dbo].[Inventario] ([idArticulo], [idProveedor], [Cantidad]) VALUES (1, 2, CAST(90.00 AS Decimal(18, 2)))
INSERT [dbo].[Inventario] ([idArticulo], [idProveedor], [Cantidad]) VALUES (2, 1, CAST(50.00 AS Decimal(18, 2)))
INSERT [dbo].[Inventario] ([idArticulo], [idProveedor], [Cantidad]) VALUES (3, 1, CAST(40.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[PagosCliente] ON 

INSERT [dbo].[PagosCliente] ([id], [Cantidad], [Fecha]) VALUES (1, 150.0000, CAST(N'2020-11-24' AS Date))
INSERT [dbo].[PagosCliente] ([id], [Cantidad], [Fecha]) VALUES (2, 200.0000, CAST(N'2020-11-24' AS Date))
INSERT [dbo].[PagosCliente] ([id], [Cantidad], [Fecha]) VALUES (3, 133.0000, CAST(N'2020-11-24' AS Date))
SET IDENTITY_INSERT [dbo].[PagosCliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedor] ON 

INSERT [dbo].[Proveedor] ([id], [Nombre]) VALUES (1, N'Proveedor 1')
INSERT [dbo].[Proveedor] ([id], [Nombre]) VALUES (2, N'Proveedor 2')
INSERT [dbo].[Proveedor] ([id], [Nombre]) VALUES (3, N'Proveedor 3')
SET IDENTITY_INSERT [dbo].[Proveedor] OFF
GO
INSERT [dbo].[RegistroPagos] ([idPago], [idCliente]) VALUES (1, 1)
INSERT [dbo].[RegistroPagos] ([idPago], [idCliente]) VALUES (2, 2)
INSERT [dbo].[RegistroPagos] ([idPago], [idCliente]) VALUES (3, 3)
GO
INSERT [dbo].[Ventas] ([idCliente], [idFactura]) VALUES (1, 1)
INSERT [dbo].[Ventas] ([idCliente], [idFactura]) VALUES (2, 2)
INSERT [dbo].[Ventas] ([idCliente], [idFactura]) VALUES (3, 3)
GO
ALTER TABLE [dbo].[DetalleCompraProveedor]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompraProveedor_Articulos] FOREIGN KEY([idArticulo])
REFERENCES [dbo].[Articulos] ([id])
GO
ALTER TABLE [dbo].[DetalleCompraProveedor] CHECK CONSTRAINT [FK_DetalleCompraProveedor_Articulos]
GO
ALTER TABLE [dbo].[DetalleCompraProveedor]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompraProveedor_CompraProveedor] FOREIGN KEY([idCompra])
REFERENCES [dbo].[CompraProveedor] ([id])
GO
ALTER TABLE [dbo].[DetalleCompraProveedor] CHECK CONSTRAINT [FK_DetalleCompraProveedor_CompraProveedor]
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD  CONSTRAINT [FK_DetalleFactura_Articulos] FOREIGN KEY([idArticulo])
REFERENCES [dbo].[Articulos] ([id])
GO
ALTER TABLE [dbo].[DetalleFactura] CHECK CONSTRAINT [FK_DetalleFactura_Articulos]
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD  CONSTRAINT [FK_DetalleFactura_Factura] FOREIGN KEY([idFactura])
REFERENCES [dbo].[Factura] ([id])
GO
ALTER TABLE [dbo].[DetalleFactura] CHECK CONSTRAINT [FK_DetalleFactura_Factura]
GO
ALTER TABLE [dbo].[Inventario]  WITH CHECK ADD  CONSTRAINT [FK_Inventario_Articulos] FOREIGN KEY([idArticulo])
REFERENCES [dbo].[Articulos] ([id])
GO
ALTER TABLE [dbo].[Inventario] CHECK CONSTRAINT [FK_Inventario_Articulos]
GO
ALTER TABLE [dbo].[Inventario]  WITH CHECK ADD  CONSTRAINT [FK_Inventario_Proveedor] FOREIGN KEY([idProveedor])
REFERENCES [dbo].[Proveedor] ([id])
GO
ALTER TABLE [dbo].[Inventario] CHECK CONSTRAINT [FK_Inventario_Proveedor]
GO
ALTER TABLE [dbo].[RegistroPagos]  WITH CHECK ADD  CONSTRAINT [FK_RegistroPagos_Cliente] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Cliente] ([id])
GO
ALTER TABLE [dbo].[RegistroPagos] CHECK CONSTRAINT [FK_RegistroPagos_Cliente]
GO
ALTER TABLE [dbo].[RegistroPagos]  WITH CHECK ADD  CONSTRAINT [FK_RegistroPagos_PagosCliente] FOREIGN KEY([idPago])
REFERENCES [dbo].[PagosCliente] ([id])
GO
ALTER TABLE [dbo].[RegistroPagos] CHECK CONSTRAINT [FK_RegistroPagos_PagosCliente]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Cliente] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Cliente] ([id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Cliente]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Factura] FOREIGN KEY([idFactura])
REFERENCES [dbo].[Factura] ([id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Factura]
GO
